.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 100px));
  }
  
  .ball {
    will-change: border-radius;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: hotpink;
    animation: bounce 0.5s alternate infinite ease;
  }
  
  .shadow {
    position: absolute;
    top: 160px;
    left: 0;
    width: 35px;
    height: 4px;
    background-color: #afafaf;
    animation: shade 0.5s alternate infinite ease;
    border-radius: 40%;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(140px) scaleX(1.5) scaleY(0.8);
    }
  
    15% {
      transform: translateY(100px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes shade {
    0%, 100% {
      transform: scaleX(0.4);
      opacity: 0.3;
    }
  
    9% {
        transform: scaleX(1);
        opacity: 1;
    }

  }
  